<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        JWT Angular Login
      </a>
    </div>

    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['']">Home</a>
        <a class="navbar-item" [routerLink]="['/advert/form']">New Advert</a>
        <a class="navbar-item" [routerLink]="['/auth/register']">Register</a>
        <a class="navbar-item" [routerLink]="['/auth/login']">Login</a>
        <a class="navbar-item" [routerLink]="['/auth/logout']">logout</a>
        <!--<a class="navbar-item" [routerLink]="['/advert/my']">My adverts</a>-->
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
