<form [formGroup]="advertForm" (ngSubmit)="onSubmit()">
  <div>
    <label class="center-block">Title :
      <input formControlName="title">
    </label>
  </div>
  <div>
    <label class="center-block">Price :
      <input formControlName="price">
    </label>
  </div>
  <div>
    <label class="center-block">Description :
      <input formControlName="description">
    </label>
  </div>
  <div>
    <label class="center-block">Localisation :
      <input formControlName="localisation">
    </label>
  </div>


  <div style="margin-bottom: 1em">
    <button type="submit"
            [disabled]="advertForm.pristine" class="btn btn-success" >Save
    </button> &nbsp;
  </div>


</form>
